body {
    padding-top: 65px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

.nav-image {
    max-width: 2rem;
}

.min-user-image {
    min-width: 4rem;
    max-width: 6rem;
    width: auto;
}

.form-rounded {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
}

.nav-search-btn {
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
    background-color: #ffffff;
    border-color: #ced4da;
    color: #5cb85c;
}

.nav-search-btn:hover {
    background-color: #5cb85c;
    color: #ffffff;
}

.post-image-small {
    max-width: 4rem;
    min-width: 3rem;
    width: auto;
}

.card-size {
    max-width: 18rem;
    min-width: 10rem;
    width: auto;
}

.card-width {
    width: 18rem;
}

.dropdown-item-name:hover {
    background-color: transparent;
}

.dropdown-item.nav-link-green:hover {
    background-color: #5cb85c;
}

@media (min-width: 1px) {
    nav.navbar {
        background: white;
    }
}

.link-color {
    color: #b9bbbe;
}

.fake-link {
    text-decoration: none;
    cursor: pointer;
}

.navbar-link {
    background-color: transparent;
    border: none;
}

.link-color:hover {
    text-decoration: none;
}

.link-color-red-active {
    color: #c82333;
}

.link-color-red:hover {
    color: #c82333;
}

.link-color-green-active {
    color: #5cb85c;
}

.link-color-green:hover {
    text-decoration: none;
    color: #5cb85c;
}

.link-color-blue-active {
    color: #0062cc;
}

.link-color-blue:hover {
    text-decoration: none;
    color: #0062cc;
}

.link-active {
    color: inherit;
}

.link-text {
    text-decoration: none;
    color: black;
}

.link-text:hover {
    text-decoration: none;
    color: inherit;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    color: #5cb85c;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color: #5cb85c;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#chirick:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.form-green {
    background-color: #d5f9cf;
}

.greeting-general {
    background-color: #e9ffe0;
}

.greeting-morning {
    background-color: #f7d7cf;
}

.greeting-noon {
    background-color: #f7f4ca;
}

.greeting-afternoon {
    background-color: #abe3f7;
}

.greeting-evening {
    background-color: rgba(99, 114, 247, 0.5);
}

.greeting-night {
    background-color: rgba(122, 5, 255, 0.29);
}
