<th:block th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand d-block d-lg-none" th:href="@{/}">Chiricker</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse col-sm-7 offset-sm-2" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-link disabled">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav d-none d-lg-block mx-auto">
                    <li class="nav-item">
                        <a th:href="@{/}">
                            <img class="img-fluid rounded-circle nav-image" src="/assets/images/logo.png"
                                 alt="Chiricker logo"/>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <li sec:authorize="!isAuthenticated()" class="nav-item mr-sm-2">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item mr-sm-2">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown d-none d-lg-block" id="nav-profile">
                        <th:block th:replace="fragments/user/nav-profile"></th:block>
                    </li>
                </ul>
        </div>
    </nav>

    <script>
        $(window).resize(() => {
            let width = window.innerWidth;
            let nav = $("div.collapse.navbar-collapse");
            if (width > 991) nav.addClass("col-sm-7 offset-sm-2");
            else nav.removeClass("col-sm-7 offset-sm-2");
        });
    </script>
</th:block>