<div class="row">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-4 w-100" th:each="peer : ${result.getPeers()}" th:object="${peer}">
        <div class="card border-light h-100">
            <div class="card-body">
                <div class="col">
                    <div class="row">
                        <div class="col col-6 col-sm-6 col-md-6 col-lg-6">
                            <img class="img-fluid rounded-circle min-user-image" alt="Profile picture"
                                 th:src="*{getProfilePicUrl()}">
                        </div>
                        <div class="col mt-1">
                            <span th:if="*{#authorization.getAuthentication().getName() != getHandle()}" th:text="*{isFollowed()} ? 'Following' : 'Follow'"
                                  th:classappend="*{isFollowed()} ? btn-success : btn-outline-success" class="fake-link btn btn-sm col mb-1" id="followBtn"
                                  onclick="follow(this)" th:attr="data-handle=*{getHandle()}"></span>

                            <h5 class="card-title" th:text="*{getName()}"></h5>
                            <h6 class="card-subtitle">
                                <a class="text-muted" th:href="@{'/@' + *{getHandle()}}" th:text="*{'@' + getHandle()}"></a>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text" th:text="*{getProfileBiography()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination d-flex justify-content-center" th:object="${result.getPeers()}">
        <!--Previous Button-->
        <li class="page-item"><a class="page-link" th:if="*{hasPrevious()}" th:href="@{/search(query=${result.getQuery()}, page=*{previousPageable().getPageNumber()})}">Previous</a></li>

        <!--Dot Button-->
        <li class="page-item"><a class="page-link" th:if="*{getPageable().getPageNumber() + 1 > 5}" th:disabled="true">...</a></li>

        <!--Pagination Navigation-->
        <th:block th:each="number : ${#numbers.sequence(
            ((result.getPeers().getPageable().getPageNumber()
            / 5) * 5) + 1
            , ((result.getPeers().getPageable().getPageNumber()
            / 5) * 5) + 5)}">
            <li class="page-item" th:if="${number <= result.getPeers().getTotalPages()}" th:classappend="${number == result.getPeers().getPageable().getPageNumber() + 1 ? ' active' : ''}">
                <a class="page-link" th:text="${number}" th:href="@{/search(query=${result.getQuery()}, page=${number - 1})}"></a>
            </li>
        </th:block>

        <!--Dot Button-->
        <li class="page-item"><a class="page-link" th:if="*{getPageable().getPageNumber() + 1 < getTotalPages() - 4}" th:disabled="true">...</a></li>

        <!--Next Button-->
        <li class="page-item"><a class="page-link" th:if="*{hasNext()}" th:href="@{/search(query=${result.getQuery()}, page=*{nextPageable().getPageNumber()})}">Next</a></li>
    </ul>
</nav>