<div class="row">

    <div class="col col-lg-4">
        <div class="card border-light card-size mb-3">
            <div class="card-body" id="userCard">
                <img class="img-fluid rounded-circle" alt="Profile picture" th:src="${profile.getProfilePicUrl()}"/>

                <h5 class="card-title" th:text="${profile.getName()}"></h5>

                <h6 class="card-subtitle text-muted mb-2" th:text="${'@' + profile.getHandle()}"
                    id="userCardHandle"></h6>

                <p class="card-text" th:text="${profile.getBiography()}"></p>
                <a class="card-link" th:text="${profile.getWebsiteUrl()}"></a>
            </div>
        </div>
    </div>

    <div class="col col-lg-8">
        <div class="card border-light mb-3 w-100 row" style="width: 18rem;">
            <div class="card-body">

                <div class="row">
                    <a class="text-center link-color link-color-green link-color-green-active ml-3"
                       th:href="@{/@} + ${profile.getHandle()}">Activity
                        <div th:text="${profile.getChiricksCount()}"></div>
                    </a>
                    <a class="text-center link-color link-color-green ml-3"
                       th:href="@{/@{handle}/following(handle=${profile.getHandle()})}">Following
                        <div th:text="${profile.getFollowingCount()}"></div>
                    </a>
                    <a class="text-center link-color link-color-green ml-3"
                       th:href="@{/@{handle}/followers(handle=${profile.getHandle()})}">Followers
                        <div th:text="${profile.getFollowersCount()}"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card border-light mb-3 w-100 row" style="width: 18rem;">
            <div class="card-body">

                <ul class="nav nav-tabs" id="activityTabs">
                    <li class="nav-item">
                        <span class="nav-link active" id="chiricksTab">Chiricks</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" id="rechiricksTab">Rechiricks</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" id="commentsTab">Comments</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" id="likesTab">Likes</span>
                    </li>
                </ul>

                <div class="d-flex justify-content-center" id="loader">
                    <div class="loader"></div>
                </div>
            </div>

            <div class="card-body" id="content">

            </div>

            <div id="end"></div>
        </div>
    </div>

</div>

<script>
    let page = (function () {
        const maxPerPage = 15;
        let current = 0;
        let hasNext = true;
        let loadingFunction = getChiricksForUser;

        return function () {
            return {
                getNext: () => { return current++; },
                hasNext: (has) => {
                    if (has === undefined) return hasNext;
                    hasNext = has;
                    return hasNext;
                },
                getMaxPerPage: () => { return maxPerPage; },
                execLoadFunction: () => { return loadingFunction(); },
                setLoadingFunction: (func) => { loadingFunction = func },
                reset: () => { current = 0; hasNext = true; }
            }
        }
    })();

    $(() => {
        page().execLoadFunction();
        let contentHolder = $("#content");
        contentHolder.ready(() => {
            let endEl = $("#end");
            let windowEl = $(window);

            windowEl.scroll(function() {
                if (page().hasNext()) {
                    executeWhenInView(endEl, windowEl, page().execLoadFunction);
                }
            });

            let chirickTab = $("#chiricksTab");
            let rechirickTab = $("#rechiricksTab");
            let commentTab = $("#commentsTab");
            let likeTab = $("#likesTab");

            chirickTab.click(() => {
                if (chirickTab.hasClass("active")) return;

                contentHolder.html("");
                $(chirickTab).addClass("active");
                $(rechirickTab).removeClass("active");
                $(commentTab).removeClass("active");
                $(likeTab).removeClass("active");
                page().reset();
                page().setLoadingFunction(getChiricksForUser);
                page().execLoadFunction();
            });
            rechirickTab.click(() => {
                if (rechirickTab.hasClass("active")) return;

                contentHolder.html("");
                $(chirickTab).removeClass("active");
                $(rechirickTab).addClass("active");
                $(commentTab).removeClass("active");
                $(likeTab).removeClass("active");
                page().reset();
                page().setLoadingFunction(getRechiricksForUser);
                page().execLoadFunction();
            });
            commentTab.click(() => {
                if (commentTab.hasClass("active")) return;

                contentHolder.html("");
                chirickTab.removeClass("active");
                rechirickTab.removeClass("active");
                commentTab.addClass("active");
                likeTab.removeClass("active");
                page().reset();
                page().setLoadingFunction(getCommentsForUser);
                page().execLoadFunction();
            });

            likeTab.click(() => {
                if (likeTab.hasClass("active")) return;

                contentHolder.html("");
                chirickTab.removeClass("active");
                rechirickTab.removeClass("active");
                commentTab.removeClass("active");
                likeTab.addClass("active");
                page().reset();
                page().setLoadingFunction(getLikesForUser);
                page().execLoadFunction();
            });
        });
    });
</script>