<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head :: meta"></th:block>
    <th:block th:replace="fragments/head :: style"></th:block>
    <th:block th:replace="fragments/head :: script"></th:block>
</head>
<body>
<div class="container-fluid">
    <header th:include="fragments/navbar :: navbar"></header>

    <main>
        <div class="jumbotron">
            <div class="col col-md-12 col-lg-7 offset-md-0 offset-lg-2">
                <th:block th:replace="${view}"></th:block>
            </div>
        </div>
    </main>

    <footer th:include="fragments/footer"></footer>
</div>
</body>
</html>