<form class="form" id="chirickForm">
    <div class="form-group">
            <textarea class="form-control" style="resize: none" placeholder="Chirick your thoughts!" rows="1"
                      id="chirickField" name="chirick"></textarea>
        <div style="display: none" class="mt-3" id="chirickControls">
            <div class="d-flex">
                <div class="ml-auto">
                    <span class="text-muted mr-3" id="charCounter">0</span>
                    <button type="button" class="btn btn-outline-success" id="chirickBtn">Chirick</button>
                </div>
            </div>
        </div>
    </div>
</form>