<div class="row d-flex justify-content-center" sec:authorize="!isAuthenticated()">
    <p class="h1 col-12 text-center">Welcome to Chiricker</p>
    <p class="h5 col-12 text-center">The worlds best social media!</p>
    <p class="h4 col-12 text-center"><a class="" href="/register">Register</a> now and connect with your friends!</p>
</div>

<div class="row" sec:authorize="isAuthenticated()">

    <div class="col col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card border-light card-size mb-3">
            <div class="card-body" id="userCard" th:object="${indexModel.getProfile()}">

                <div th:replace="fragments/user/user-card-elements"></div>

            </div>
        </div>
    </div>

    <div class="col col-12 col-sm-12 col-md-12 col-lg-8">

        <div class="card border-light w-100 card-width" th:classappend="${indexModel.getGreetingStatus().getHtmlClass()}">
            <div class="card-body">
                <p class="h5 text-center" th:text="${#strings.replace(indexModel.getGreetingStatus().getMessage(), '%s', indexModel.getProfile().getName())}"></p>
            </div>
        </div>

        <div class="card border-light w-100 form-green card-width">
            <div class="card-body">

                <th:block th:replace="fragments/index/chirick-form"></th:block>

            </div>
        </div>

        <div class="card border-light w-100 card-width">
            <div class="card-body" id="content">

            </div>
        </div>

        <div class="row w-100" id="end"></div>
    </div>

    <script>
        let page = (function () {
            const maxPerPage = 15;
            let current = 0;
            let hasNext = true;
            let loadingFunction = getTimeline;

            return function () {
                return {
                    getNext: () => {
                        return current++;
                    },
                    hasNext: (has) => {
                        if (has === undefined) return hasNext;
                        hasNext = has;
                        return hasNext;
                    },
                    getMaxPerPage: () => {
                        return maxPerPage;
                    },
                    execLoadFunction: () => {
                        return loadingFunction();
                    },
                    setLoadingFunction: (func) => {
                        loadingFunction = func
                    },
                    reset: () => {
                        current = 0;
                        hasNext = true;
                    }
                }
            }
        })();

        $(function () {
            setChirickToggling();

            page().execLoadFunction();
            let contentHolder = $("#content");
            contentHolder.ready(() => {
                let endEl = $("#end");
                let windowEl = $(window);

                windowEl.scroll(function () {
                    if (page().hasNext()) {
                        executeWhenInView(endEl, windowEl, page().execLoadFunction);
                    }
                });
            });
        })();
    </script>
</div>